@import url("primitive.css");

.danger-button,
a.danger-button {
  background: #ff0000;
  border: 1px solid #ff0000;
}

.danger-button:hover,
a.danger-button:hover {
  background: #cf1616;
  border: 1px solid #cf1616;
}

.flex-row {
  margin-left: 0;
  margin-right: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
